body,
html {
  height: 100%;
  font-family: 'Merriweather', serif;
}

.bg {
  /* The image used */
  background-image: url('../images/triviabg.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: 0.1px solid white;
}

.container {
  text-align: center;
  margin-top: 15px;
  height: 85%;
  width: 75%;
}

.jumbotron {
  height: 100%;
}
